@media (max-width: 413px) {
    .logo {
        padding: 25px 0;
    }
    .hidden-xs{
        display: none;
    }
    .hidden-md{
        display: block;
    }
    .banner .main-banner {
        width: 100%;
    }
    .banner-content-text h2 {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
    }
    .banner-content-text {
        margin-top: 50px;
        min-height: auto;
    }
    .banner-content-text p {
        line-height: 24px;
        text-align: center;
        padding: 0 5px;
    }
    .banner-content-text p br, .heading p br {
        display: none;
    }
    .banner-form {
        padding: 20px;
        height: auto;
        margin: 0 -15px;
    }
    .c-col-1 {
        flex: 0 0 31.6%;
        width: 31.6%;
    }
    .c-col-2 {
        flex: 0 0 68.4%;
        width: 68.4%;
    }
    .btn-request, .btn-request:hover {
        margin-bottom: 28px;
        font-size: 14px;
    }
    .banner-form .text-left{
        text-align: center !important;
    }
    .section-wrapp.about-us .heading.mr-t-50{
        margin-top: 0;
    }
    .section-wrapp.about-us .heading h3 {
        margin: 0 auto 32px;
        width: 55%;
        line-height: 45px;
    }
    .heading p {
        line-height: 24px;
        width: 85%;
        margin: 0 auto;
    }
    .mb-hr{
        margin: 40px auto 30px;
        max-width: 327px;
        border-top: 1px solid #D1D1D1;
    }
    .mb-hr.mr-tb-0{
        margin: 0 auto;
    }
    .key-highlight-image, .key-highlight-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .key-highlight-item{
        margin-bottom: 30px;
        font-size: 18px;
    }
    .key-highlight-item:last-child{
        margin-bottom: 0;
    }
    .key-higtlight-video iframe{
        height: 211px;
    }
    .key-higtlight-video {
        margin-bottom: 20px;
    }
    .key-highlight-video-title {
        line-height: 31px;
        margin-bottom: 15px;
    }
    .video-desc {
        font-size: 18px;
        line-height: 25px;
    }
    .w-75{
        margin: 0 auto;
    }
    .list-item:nth-child(4) .solution-item, .list-item:nth-child(5) .solution-item, .list-item:nth-child(6) .solution-item {
        margin-bottom: 50px;
    }
    .partner-list .partner-item a {
        height: auto;
    }
    .partner-list .partner-item img {
        max-width: 100%;
        margin-bottom: 8px;
    }
    .partner-list{
        justify-content: center;
    }
    .gain-free h3 {
        width: 67%;
        margin: 0 auto 38px;
    }
    .gain-free {
        padding: 30px 0 50px;
        min-height: auto;
    }
    .footer-menu{
        margin-bottom: 50px;
    }
    .mb-bt-0{
        margin-bottom: 0;
    }
    .footer-logo{
        margin-top: 50px;
    }
    .key-highlight-title {
        line-height: 31px;
        margin-bottom: 11px;
    }
    .key-highlight-image{
        margin-bottom: 10px;
    }
    .key-highlight-info h4 {
        margin-bottom: 37px;
    }
    .solution .heading h3 {
        font-size: 35px;
        line-height: 45px;
        margin: 0 0 32px;
    }
    .solution-info .desc {
        font-size: 18px
    }
    .list-item:nth-child(6) .solution-item {
        margin-bottom: 0;
    }
    .partner .heading h3 {
        width: 60%;
        margin: 0 auto 32px;
    }
    .partner .heading p {
        width: 100%;
    }
    .partner .heading p br{
        display: block;
    }
    .partner-list.mr-t-45 {
        margin-top: 10px;
    }
    .gain-free .btn-request, .btn-request:hover{
        margin-bottom: 0;
        width: 200px;
        font-size: 20px;
    }
    .footer {
        padding: 23px 0;
    }
    .banner-form h4.text-left{
        text-align: left !important;
        margin: 0 0 11px;
    }

    /*///*/
    .button_menu{
        width: 25px;
        height: 34px;
        margin: 33px 10px;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        cursor: pointer;
        color: #0073E1;
        float: right;
    }
    .close-btn img{
        max-width: 15px;
    }
    .mobile_menu{
        position: fixed;
        width: 260px;
        height: 100%;
        background: #ffffff;
        z-index: 999999;
        box-shadow: 0 0 7px rgb(0 0 0 / 10%);
        top: 0;
        left: 0;
        transform: translatex(-300px);
        -webkit-transform: translatex(-300px);
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        overflow: auto;
    }
    .open-mobile-menu .mobile_menu{
        transform: translatex(0px);
        -webkit-transform: translatex(0px);
    }
    .mobile-overplay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000000;
        top: 0;
        left: 0;
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        opacity: 0;
        visibility: hidden;
        z-index: 99999;
    }
    .open-mobile-menu .mobile-overplay{
        opacity: 0.5;
        visibility: visible;
    }
    .mb-logo-center {
        padding: 20px 0;
        margin: 0 auto !important;
        text-align: center;
        max-width: 100%;
        position: relative;
    }
    .close-btn{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 5px;
        top: 5px;
        background: #ffffff;
        text-align: center;
        line-height: 37px;
    }
    .mb-navbar-nav {
        float: none;
        margin: 0;
    }
    .mb-navbar-nav li {
        float: none;
        display: block;
        position: relative;
        width: 100%;
    }
    .mb-navbar-nav li a {
        padding: 15px;
        background: none;
        display: block;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 26px;
        overflow-x: hidden;
        letter-spacing: .3px;
        color: #000000;
        border-bottom: 1px solid #ebebeb;
    }
    .mobile_inner a.nav-btn {
        height: 36px;
        width: 80%;
        background: #78CCD0;
        color: #FFFFFF;
        border-radius: 5px;
        line-height: 22px;
        font-weight: 600;
        padding: 6px 0 !important;
        text-align: center;
        margin-left: 25px;
        display: block;
        margin-top: 20px;
    }
    .thk-img img{
        max-width: 100%;
    }
    .contact-wrap .left-maps{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-wrap .right-contact{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
    .contact-wrap .right-contact {
        margin-top: -5px;
    }
    .contact-item p.phone {
        margin-top: 0;
    }
}
@media (min-width: 414px) and (max-width: 767px) {
    .logo {
        padding: 25px 0;
    }
    .hidden-xs{
        display: none;
    }
    .hidden-md{
        display: block;
    }
    .banner .main-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .banner-content-text h2 {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
    }
    .banner-content-text {
        margin-top: 50px;
        min-height: auto;
    }
    .banner-content-text p {
        line-height: 24px;
        text-align: center;
        padding: 0 5px;
    }
    .banner-content-text p br, .heading p br {
        display: none;
    }
    .banner-form {
        padding: 20px;
        height: auto;
        margin: 0 -15px;
    }
    .c-col-1 {
        flex: 0 0 31.6%;
        width: 31.6%;
    }
    .c-col-2 {
        flex: 0 0 68.4%;
        width: 68.4%;
    }
    .btn-request, .btn-request:hover {
        margin-bottom: 28px;
        font-size: 14px;
    }
    .banner-form .text-left{
        text-align: center !important;
    }
    .section-wrapp.about-us .heading.mr-t-50{
        margin-top: 0;
    }
    .section-wrapp.about-us .heading h3 {
        margin: 0 auto 32px;
        width: 55%;
        line-height: 45px;
    }
    .heading p {
        line-height: 24px;
        width: 85%;
        margin: 0 auto;
    }
    .mb-hr{
        margin: 40px 0 30px;
    }
    .key-highlight-image, .key-highlight-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .key-highlight-item{
        margin-bottom: 30px;
        font-size: 18px;
    }
    .key-highlight-item:last-child{
        margin-bottom: 0;
    }
    .key-higtlight-video iframe{
        height: 255px;
    }
    .key-higtlight-video {
        margin-bottom: 20px;
    }
    .key-highlight-video-title {
        line-height: 31px;
        margin-bottom: 15px;
    }
    .video-desc {
        font-size: 18px;
        line-height: 25px;
    }

    .w-75{
        margin: 0 auto;
    }
    .list-item:nth-child(4) .solution-item, .list-item:nth-child(5) .solution-item, .list-item:nth-child(6) .solution-item {
        margin-bottom: 50px;
    }
    .partner-list .partner-item a {
        height: auto;
    }
    .partner-list .partner-item img {
        max-width: 100%;
        margin-bottom: 8px;
    }
    .partner-list{
        justify-content: center;
    }
    .gain-free h3 {
        width: 67%;
        margin: 0 auto 38px;
    }
    .gain-free {
        padding: 30px 0 50px;
        min-height: auto;
    }
    .footer-menu{
        margin-bottom: 50px;
    }
    .mb-bt-0{
        margin-bottom: 0;
    }
    .footer-logo{
        margin-top: 50px;
    }
    .key-highlight-title {
        line-height: 31px;
        margin-bottom: 11px;
    }
    .key-highlight-image{
        margin-bottom: 10px;
    }
    .key-highlight-info h4 {
        margin-bottom: 37px;
    }
    .solution .heading h3 {
        font-size: 35px;
        line-height: 45px;
        margin: 0 0 32px;
    }
    .solution-info .desc {
        font-size: 18px
    }
    .list-item:nth-child(6) .solution-item {
        margin-bottom: 0;
    }
    .partner .heading h3 {
        width: 60%;
        margin: 0 auto 32px;
    }
    .partner .heading p {
        width: 100%;
    }
    .partner .heading p br{
        display: block;
    }
    .partner-list.mr-t-45 {
        margin-top: 10px;
    }
    .gain-free .btn-request, .btn-request:hover{
        margin-bottom: 0;
        width: 200px;
        font-size: 20px;
    }
    .video-desc br, .key-highlight-info br, .solution-info .desc br{
        display: none !important;
    }
    .hidden-sm, .footer-menu .hidden-xs{
        display: none;
    }
    .banner {
        height: 385px;
        overflow: hidden;
    }
    .footer-menu .hidden-md{
        display: block;
    }
    .mb-hr.mr-tb-0 {
        margin: 0 auto;
    }

    /*///*/
    .button_menu{
        width: 25px;
        height: 34px;
        margin: 33px 10px;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        cursor: pointer;
        color: #0073E1;
        float: right;
    }
    .close-btn img{
        max-width: 15px;
    }
    .mobile_menu{
        position: fixed;
        width: 260px;
        height: 100%;
        background: #ffffff;
        z-index: 999999;
        box-shadow: 0 0 7px rgb(0 0 0 / 10%);
        top: 0;
        left: 0;
        transform: translatex(-300px);
        -webkit-transform: translatex(-300px);
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        overflow: auto;
    }
    .open-mobile-menu .mobile_menu{
        transform: translatex(0px);
        -webkit-transform: translatex(0px);
    }
    .mobile-overplay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000000;
        top: 0;
        left: 0;
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        opacity: 0;
        visibility: hidden;
        z-index: 99999;
    }
    .open-mobile-menu .mobile-overplay{
        opacity: 0.5;
        visibility: visible;
    }
    .mb-logo-center {
        padding: 20px 0;
        margin: 0 auto !important;
        text-align: center;
        max-width: 100%;
        position: relative;
    }
    .close-btn{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 5px;
        top: 5px;
        background: #ffffff;
        text-align: center;
        line-height: 37px;
    }
    .mb-navbar-nav {
        float: none;
        margin: 0;
    }
    .mb-navbar-nav li {
        float: none;
        display: block;
        position: relative;
        width: 100%;
    }
    .mb-navbar-nav li a {
        padding: 15px;
        background: none;
        display: block;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 26px;
        overflow-x: hidden;
        letter-spacing: .3px;
        color: #000000;
        border-bottom: 1px solid #ebebeb;
    }
    .mobile_inner a.nav-btn {
        height: 36px;
        width: 80%;
        background: #78CCD0;
        color: #FFFFFF;
        border-radius: 5px;
        line-height: 22px;
        font-weight: 600;
        padding: 6px 0 !important;
        text-align: center;
        margin-left: 25px;
        display: block;
        margin-top: 20px;
    }
    .thk-img img{
        max-width: 100%;
    }
    .contact-wrap .left-maps{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-wrap .right-contact{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
    .contact-wrap .right-contact {
        margin-top: -5px;
    }
    .contact-item p.phone {
        margin-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        padding: 25px 0;
    }
    .hidden-xs{
        display: none;
    }
    .hidden-md{
        display: block;
    }
    .banner .main-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .banner-content-text h2 {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
    }
    .banner-content-text {
        margin-top: 50px;
        min-height: auto;
    }
    .banner-content-text p {
        line-height: 24px;
        text-align: center;
        padding: 0 5px;
    }
    .banner-content-text p br, .heading p br {
        display: none;
    }
    .banner-form {
        padding: 20px;
        height: auto;
        margin: 0 -15px;
    }
    .c-col-1 {
        flex: 0 0 15.6%;
        width: 15.6%;
    }
    .c-col-2 {
        flex: 0 0 84.4%;
        width: 84.4%;
    }
    .btn-request, .btn-request:hover {
        margin-bottom: 28px;
        font-size: 14px;
    }
    .banner-form .text-left{
        text-align: center !important;
    }
    .section-wrapp.about-us .heading.mr-t-50{
        margin-top: 0;
    }
    .section-wrapp.about-us .heading h3 {
        margin: 0 auto 32px;
        width: 55%;
        line-height: 45px;
    }
    .heading p {
        line-height: 24px;
        width: 85%;
        margin: 0 auto;
    }
    .mb-hr{
        margin: 40px 0 30px;
    }
    .key-highlight-image, .key-highlight-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .key-highlight-item{
        margin-bottom: 30px;
        font-size: 18px;
    }
    .key-highlight-item:last-child{
        margin-bottom: 0;
    }
    .key-higtlight-video iframe{
        height: 370px;
    }
    .key-higtlight-video {
        margin-bottom: 20px;
    }
    .key-highlight-video-title {
        line-height: 31px;
        margin-bottom: 15px;
    }
    .video-desc {
        font-size: 18px;
        line-height: 25px;
    }
    .w-75{
        margin: 0 auto;
    }
    .list-item:nth-child(4) .solution-item, .list-item:nth-child(5) .solution-item, .list-item:nth-child(6) .solution-item {
        margin-bottom: 50px;
    }
    .partner-list .partner-item a {
        height: auto;
    }
    .partner-list .partner-item img {
        max-width: 100%;
        margin-bottom: 8px;
    }
    .partner-list{
        justify-content: center;
    }
    .gain-free h3 {
        width: 67%;
        margin: 0 auto 38px;
    }
    .gain-free {
        padding: 30px 0 50px;
        min-height: auto;
    }
    .footer-menu{
        margin-bottom: 50px;
    }
    .mb-bt-0{
        margin-bottom: 0;
    }
    .footer-logo{
        margin-top: 50px;
    }
    .key-highlight-title {
        line-height: 31px;
        margin-bottom: 11px;
    }
    .key-highlight-image{
        margin-bottom: 10px;
    }
    .key-highlight-info h4 {
        margin-bottom: 37px;
    }
    .solution .heading h3 {
        font-size: 35px;
        line-height: 45px;
        margin: 0 0 32px;
    }
    .solution-info .desc {
        font-size: 18px
    }
    .list-item:nth-child(6) .solution-item {
        margin-bottom: 0;
    }
    .partner .heading h3 {
        width: 60%;
        margin: 0 auto 32px;
    }
    .partner .heading p {
        width: 100%;
    }
    .partner .heading p br{
        display: block;
    }
    .partner-list.mr-t-45 {
        margin-top: 10px;
    }
    .gain-free .btn-request, .btn-request:hover{
        margin-bottom: 0;
        width: 200px;
        font-size: 20px;
    }
    .banner {
        height: 385px;
        overflow: hidden;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-md-12 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 12;
        order: 12;
    }
    .video-desc br, .key-highlight-info br, .desc br{
        display: none;
    }
    .col-md-4.list-item{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .footer-info .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer-info .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*///*/
    .button_menu{
        width: 25px;
        height: 34px;
        margin: 33px 10px;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        cursor: pointer;
        color: #0073E1;
        float: right;
    }
    .close-btn img{
        max-width: 15px;
    }
    .mobile_menu{
        position: fixed;
        width: 260px;
        height: 100%;
        background: #ffffff;
        z-index: 999999;
        box-shadow: 0 0 7px rgb(0 0 0 / 10%);
        top: 0;
        left: 0;
        transform: translatex(-300px);
        -webkit-transform: translatex(-300px);
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        overflow: auto;
    }
    .open-mobile-menu .mobile_menu{
        transform: translatex(0px);
        -webkit-transform: translatex(0px);
    }
    .mobile-overplay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000000;
        top: 0;
        left: 0;
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        opacity: 0;
        visibility: hidden;
        z-index: 99999;
    }
    .open-mobile-menu .mobile-overplay{
        opacity: 0.5;
        visibility: visible;
    }
    .mb-logo-center {
        padding: 20px 0;
        margin: 0 auto !important;
        text-align: center;
        max-width: 100%;
        position: relative;
    }
    .close-btn{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 5px;
        top: 5px;
        background: #ffffff;
        text-align: center;
        line-height: 37px;
    }
    .mb-navbar-nav {
        float: none;
        margin: 0;
    }
    .mb-navbar-nav li {
        float: none;
        display: block;
        position: relative;
        width: 100%;
    }
    .mb-navbar-nav li a {
        padding: 15px;
        background: none;
        display: block;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 26px;
        overflow-x: hidden;
        letter-spacing: .3px;
        color: #000000;
        border-bottom: 1px solid #ebebeb;
    }
    .mobile_inner a.nav-btn {
        height: 36px;
        width: 80%;
        background: #78CCD0;
        color: #FFFFFF;
        border-radius: 5px;
        line-height: 22px;
        font-weight: 600;
        padding: 6px 0 !important;
        text-align: center;
        margin-left: 25px;
        display: block;
        margin-top: 20px;
    }
    .thk-img img{
        max-width: 100%;
    }
    .contact-wrap .left-maps{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-wrap .right-contact{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
    .contact-wrap .right-contact {
        margin-top: -5px;
    }
    .contact-item p.phone {
        margin-top: 0;
    }
    .thk-content .col-md-7, .thk-content .col-md-5{
        flex: 0 0 100%;
        max-width: 100%;
    }
}