@media (min-width: 992px) and (max-width: 1365px) {
    .footer-copyright br{
        display: none;
    }
    .banner {
        height: 590px;
        overflow: hidden;
    }
    .banner .main-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .banner-content-text br, .key-highlight-info br, .solution-info .desc br{
        display: none;
    }
    .banner-form {
        padding: 20px;
    }
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 40px;
    }
    .c-col-1 {
        flex: 0 0 30%;
        width: 30%;
    }
    .c-col-2 {
        flex: 0 0 70%;
        width: 70%;
    }
    .key-highlight-image img{
        max-width: 100%;
    }
    .key-higtlight-video iframe{
        height: 315px;
    }
     .key-features .justify-content-md-center>.col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
     }
     /*.container {*/
     /*   max-width: 100%;*/
     /*}*/
     br{
         display: none;
     }
     .nav-bar ul li a {
        padding: 10px 18px;
    }
     .thk-img img{
         max-width: 100%;
     }
     .thk-entry-content h3 {
        margin-top: 53px;
    }
}
@media (min-width: 1366px) and (max-width: 1399px) {
    .banner-content-text {
        margin-top: 80px;
    }
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 40px;
		padding: 0px .75rem;
    }
    .banner-form .form-group textarea.form-control {
        height: 70px;
    }
    .banner-form {
        padding: 15px 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .banner-content-wrapp{
        overflow: hidden;
    }
    br{
         display: none;
    }
    .nav-bar ul li a {
        padding: 10px 18px;
    }
    .thk-img img{
         max-width: 100%;
     }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
}
@media (min-width: 1400px) and (max-width: 1439px) {
    .banner-content-text {
        margin-top: 80px;
    }
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 40px;
    }
    .banner-form .form-group textarea.form-control {
        height: 70px;
    }
    .banner-form {
        padding: 15px 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .banner-content-wrapp{
        overflow: hidden;
    }
    br{
         display: none;
    }
    .thk-img img{
         max-width: 100%;
     }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
}
@media (min-width: 1440px) and (max-width: 1599px) {
    .banner-content-text {
        margin-top: 80px;
    }
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 38px;
    }
    .banner-form .form-group textarea.form-control {
        height: 70px;
    }
    .banner-form {
        padding: 15px 30px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .banner-content-wrapp{
        overflow: hidden;
    }
    br{
         display: none;
    }
    .thk-img img{
         max-width: 100%;
     }
    .thk-entry-content h3 {
        margin-top: 53px;
    }
}
@media (min-width: 1600px) and (max-width: 1679px) {
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 40px;
    }
    .banner-form .form-group textarea.form-control {
        height: 70px;
    }
    .banner-form {
        padding: 40px 50px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .banner-content-wrapp{
        overflow: hidden;
    }
    .thk-img img{
         max-width: 100%;
     }
}
@media (min-width: 1680px) and (max-width: 1919px) {
    .banner-form .form-group input.form-control, .banner-form .form-group select.form-control {
        height: 45px;
    }
    .banner-form .form-group textarea.form-control {
        height: 70px;
    }
    .banner-form {
        padding: 50px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .banner-content-wrapp{
        overflow: hidden;
    }
    .thk-img img{
         max-width: 100%;
     }
}