p{
    margin: 0;
    padding: 0;
}
a, a:hover{
    cursor: pointer;
    text-decoration: none;
    outline: none;  
    color: #78CCD0;
}
a:hover{
    color: #007bff !important;
}
@media (min-width: 1600px){
    .container {
        max-width: 1433px;
    }
}
/* /// Style /// */
body{
    height: 100%;
    margin: 0;
    padding:0;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
}
.logo{
    padding: 36px 0;
}
.banner{
    background: #000000;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.banner .main-banner{
    position: relative;
    opacity: .3;
    max-width: 100%;
    margin: 0 auto;
}
.banner-content-wrapp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    z-index: 999;
}
.banner-content-text{
    margin-top: 152px;
    color: #ffffff;
    text-align: left;
}
.banner-content-text h2{
    font-size: 50px;
    margin: 0 0 32px;
    line-height: 53px;
    font-weight: 600;
}
.banner-content-text p{
    font-size: 20px;
    line-height: 32px;
}
.banner-form{
    height: 687px;
    background: rgba(121, 204, 208, .75);
    padding: 50px;
    color: #ffffff;
}
.banner-form h4{
    margin: 0 0 19px;
}
.banner-form .form-group .form-control {
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}
.banner-form .form-group input.form-control,
.banner-form .form-group select.form-control{
    height: 50px;
}
.banner-form .form-group textarea.form-control{
    height: 100px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group .form-control::-webkit-input-placeholder { /* Edge */
  color: #CCCCCC;
}

.form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CCCCCC;
}

.form-group .form-control::placeholder {
  color: #CCCCCC;
}
.c-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.c-col-1{
    flex: 0 0 20%;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
}
.c-col-1{
    flex: 0 0 23%;
    width: 23%;
    padding-right: 10px;
    padding-left: 10px;
}
.c-col-2{
    flex: 0 0 77%;
    width: 77%;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-request{
    height: 50px;
    border: 1px solid #E5E8ED;
    background: #000000;
    color: #ffffff;
    width: 180px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}
.btn-request:hover{
    background-color:#FFFFFF;
    border-color: #78CCD0;
    color: #78CCD0;
    width: 180px;
}
.section-wrapp{
    padding: 50px 0;
}
.mr-t-50{
    margin-top: 50px;
}
.heading h3{
    font-size: 35px;
    margin: 0 0 15px;
    font-weight: 500;
}
.heading p{
    font-size: 20px;
    line-height: 20px;
}
.key-highlight-title{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.key-highlight-item{
    min-height: 223px;
    align-items: center;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.key-highlight-image{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    padding-right: 15px;
    padding-left: 15px;
}
.key-highlight-image img{
    max-width: 100%;
}
.key-highlight-info{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding-right: 15px;
    padding-left: 15px;
}
.key-highlight-info h4{
    margin-bottom: 22px;
    line-height: 25px;
    font-weight: bold;
}
.key-highlight-info p{
    line-height: 25px;
}
.key-higtlight-video{
    margin-bottom: 10px;
}
.key-highlight-video-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}
.video-desc{
    font-size: 17px;
}
.mr-t-100{
    margin-top: 100px;
}
.key-feature-item{
    display: flex;
    justify-content: flex-start;
    min-height: 155px;
    align-items: flex-start;
    margin-bottom: 45px;
    padding-left: 35px;
}
.key-feature-img{
    margin-right: 50px;
}
.key-feature-item:hover .key-feature-img img {
    animation: .5s ease-in-out 75ms swing;
}
@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
.swing {
	transform-origin: top center;
	animation-name: swing
}
.key-feature-item .key-feature-info h4{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.key-feature-item .key-feature-info p{
    font-size: 16px;
    line-height: 25px;
}
.mr-b-0{
    margin-bottom: 0;
}
.lh-24{
    line-height: 24px !important;
}
.solution-item{
    margin-bottom: 50px;
}
.solution-item .solution-thumbnail{
    margin-bottom: 20px;
}
.solution-item .solution-thumbnail img{
    max-width: 100%;
    height: auto;
}
.list-item:nth-child(4) .solution-item,
.list-item:nth-child(5) .solution-item,
.list-item:nth-child(6) .solution-item{
    margin-bottom: 0;
}
.solution-info h3 a{
    color: #000000;
    font-weight: 500;
    font-size: 25px;
}
.solution-info .desc{
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;
    min-height: 125px;
}
.solution-info .more{
    font-size: 18px;
    font-weight: 600;
}
.mr-t-45{
    margin-top: 45px;
}
.partner-list .partner-item{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 185px;
}
.partner-list .partner-item img{
    max-width: 100%;
    margin: auto;
}
.gain-free{
    background: #78CCD0;
    min-height: 391px;
}
.gain-free h3{
    margin-top: 50px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    margin-bottom: 38px;
}
.footer{
    padding: 50px 0;
}
.footer-logo{
    margin-bottom: 30px;
}
.company-contact{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 30px;
}
.footer-copyright{
    font-size: 14px;
}
.footer-menu h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu ul>li>a{
    display: block;
    padding: 5px 0;
    color: #000000;
}
.social{
    margin-top: 26px;
}
.social ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social ul>li{
    margin-right: 10px;
}
.hidden-md{
    display: none;
}
.gain-free .btn-request, .gain-free .btn-request:hover{
    width: 270px;
    font-size: 20px;
    height: 55px;
    line-height: 40px;
}
.gain-free .btn-request:hover{
    background-color:#FFFFFF;
    border-color: #78CCD0 !important;
    color: #78CCD0 !important;
}
.partner .heading h3, .partner .heading p {
    color: rgba(0, 0, 0, .9);
}
.wpcf7-not-valid-tip {
    text-align: left;
}
.wpcf7 form .wpcf7-response-output{
    display: none !important;
}

/*////*/
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 122px;
}
.nav-bar ul li a{
    padding: 10px 25px;
    display: block;
    font-size: 18px;
    color: #000000;
}
.nav-bar ul li a.nav-btn{
    height: 36px;
    width: 150px;
    background: #78CCD0;
    color: #FFFFFF;
    border-radius: 5px;
    line-height: 22px;
    font-weight: 600;
    padding: 6px 0 !important;
    text-align: center;
    margin-left: 25px;
}
.nav-bar ul li a:hover{
    font-weight: bold;
    color: #78CCD0 !important;
}
.nav-bar ul li a.nav-btn:hover{
    background: #fff;
    border: 1px solid #78CCD0;
    color: #78CCD0;
}
.thk-entry-content h3{
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    margin-top: 123px;
    margin-bottom: 53px;
}
.thk-entry-content p{
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 28px;
}
.btn-download{
    width: 349px;
    height: 50px;
    background: #78CCD0;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 31px;
}
.btn-download img{
    margin-right: 10px;
}
.btn-download:hover{
    color: #FFFFFF !important;
}
.contact-wrap{
    display: flex;
    margin-top: 99px;
    flex-wrap: wrap;
}
.contact-wrap .left-maps{
    flex: 0 0 65%;
    max-width: 65%;
}
.contact-wrap .right-contact{
    flex: 0 0 35%;
    max-width: 35%;
    background: #78CCD0;
    padding: 30px;
    margin-bottom: 5px;
}
.left-maps img{
    max-width: 100%;
    float: right;
}
.contact-item{
    margin-bottom: 50px;
}
.contact-item:last-child{
    margin-bottom: 0;
}
.contact-item h2{
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact-item p{
    font-size: 18px;
    line-height: 25px;
}
.contact-item p.name{
    font-weight: bold;
}
.contact-item p.phone{
    margin-top: 30px;
}
div.logo {
    width: fit-content;
}
.logo > img {
    width: 178px;
    height: 50px;
}
.banner .main-banner {
    height: 100%;
} 
.captcha >  img {
    width: 250px;
    height: 67px;
}
.key-highlight-image.text-center > img {
    width: 221px;
    height: 221px;
}
.key-feature-img > img {
    width: 70px;
    height: 70px;
}
.solution-thumbnail > img {
    width: 368px;
    height: 339px;
}
.footer-logo > img {
    width: 56px;
    height: 74px;
}
div.social > ul > li:nth-child(1) > a > img,
div.social > ul > li:nth-child(2) > a > img {
    width: 30px;
    height: 30px;
}
.banner {
    min-height: 385px;
    background-color: black;
}